@import 'vars';

*{
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
}

.header{
  background-color:$backBlock;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_left{
    display: flex;
    align-items: center;
    gap: 100px;;
}

#burger{
    position: absolute;
    right:-9999px;
    visibility: hidden;
}
#burger:checked ~ .nav{
    display: none
}

.nav{
 background: #FFFFFF;
border: 1px solid #000000;
width: 312px;
padding: 32px;
box-sizing: border-box;
position: absolute;
}

.top-head{
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    align-items: center;
  justify-content: space-around;
}
.body{
 font-family: "Oswald", sans-serif;
}


.center{
padding-left: calc(50% - $widthSite / 2);
padding-right: calc(50% - $widthSite / 2);
}


.filter-sort{
    padding-top: 5px;
    position: relative;
}

.filter{
 &[open]{
background: #FFFFFF;
box-shadow: 6px 4px 35px #313131 ;
border: 1px solid #E6E6E6;
}
    &[open] .filter_heading {
    color: $colorSelectSite;
}
    &[open] path {
    fill: $colorSelectSite;
}

    padding: 13px 16px 16px;
    width: 350px;
    position: absolute;
    box-sizing: border-box;

  &_summary{
    display: flex;
    align-items: center;
    gap: 11pp;
   
   &_item{
margin-top: 16px;
   } 
}

}
.top-head__heading{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 39px;
color: $colorSelectSite;

}

.breadcrumbs__link_site{
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #1E1E1E;
}

.breadcrumbs__link{
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: rgba(30, 30, 30, 0.5);
}

.product {
width: 264px;
padding-left: 140px;}
  .product__content{
background-color: #e9e9e9;
padding: 12px;
}.product__name{
    padding-left: 50px;
}
 .product__price{
  padding-left: 85px;}

